  <div class="container-fluid" style="background-color: #fff; padding-top:20px;">
    <h3>Json Data</h3>
    <h6>You can filter and sort data from column header. Double click on cell to edit data.</h6>
    <div class="angularGrid">
        <div class="table-responsive">
              <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham"
                     [gridOptions]="gridOptions"
                     [floatingFilter]="true"
                     [pagination]="true"
                     [defaultColDef]="defaultColDef"
                     [paginationPageSize]="paginationPageSize">
              </ag-grid-angular>
        </div>
      </div>
  </div>
